<h1>program777</h1>
<img src="https://www.images.program777.com/kichijojimap.jpg" />
<table>
<% Test.all.each do |t| %>
  <tr>
    <td><%= t.gengo_cd %></td>
    <td><%= t.gengo_nm %></td>
  </tr>
<% end %>
</table>