<h1>事前準備 ruby on rails タスク管理アプリ</h1>

<h2>方針、ターゲット</h2>
<p>
ruby on railsのスタート教材になれるよう、説明していきます。<br>
webアプリ初心者でも作成できるように、html、javascript、cssは重視せず、
webの基本的な知識からruby on railsの作りを覚えられることを目的としています。<br>
プログラムの作り方の流れを覚えられるよう、仕様の確認、簡単な設計の説明もしていきます。
</p>

<h2>環境構築</h2>
<p>
勉強用の基本的なアプリですので、<strong>OS、ruby、railsのバージョンはあまり関係ありません</strong>が、
rails4からの機能を使用するので、コピペで作成したいのであれば、<strong>ruby＝2以上、rails＝4以上がオススメです。</strong><br>
私の環境は以下の通りです。
<ul>
  <li>OS＝mac</li>
  <li>ruby＝2.3.1p112</li>
  <li>rails＝5.0.2</li>
</ul>
環境構築の説明は長くなってしまうので、ここでは行いませんが、
<strong>最初のrails newコマンドが成功すれば環境はOKです。</strong>
</p>

<h2>使用する技術</h2>
<p>
<ul>
  <li>html5</li>
  <li>css（cssファイルは使用しません）</li>
  <li>javascript（jsファイルは使用しません。少しだけ使用します）</li>
  <li>jquery（少しだけ使用します）</li>
  <li>ruby on rails</li>
  <li>bootstrap（cssのみ）</li>
  <li>sqlite3</li>
</ul>
</p>

<h2>作成するWebアプリのサンプル</h2>
<p>
別windowで開きます。（登録とかもできます。）<br>
<a style="text-decoration: underline" target="_blank" href="https:www.program777.com/samples/task_kanri/tasks">タスク管理 サンプル (ruby on rails)</a><br>
これと同じものを作成します。<br><br>
※このサイト「program777」自体がrailsで作成されており、
その中にサンプルを作っているため、ソースは若干違いますが、動きは全く同じものを作ります。
</p>