<h1 class="page_title">
  <%= @page_title %>
</h1>

<p>
  Ruby on Railsのサンプルプログラムの作成手順を初心者でもわかるように1から解説しています。
  1つのアプリを最初から最後まで自分で作り上げることによって、
  Webの基本的な仕組みから、簡単なプログラミングまでを覚えられるようなサイトにしています。
  まだ出来上がったばかりのサイトでコンテンツは少ないですが、
  レベルに応じた複数のサンプルアプリを紹介していく予定です。
</p>

<a class="box02" href="/articles/201709/20170926">
  <h2>Ruby on Railsでタスク管理を作ろう！</h2>
  <p>
    単純なタスク管理アプリを作成します。
    Webアプリの作り方（どこから作っていけばいいのか）と基本的なrailsプロジェクトの作り方を学習できます。
    初めての方を対象としていますので、railsの中でよく使われる単語の説明などもしています。
  </p>
  対象としているレベル
  <span class="label label-warning">
    初心者
  </span>
</a>