<div>
  <h3 class="midashi01">当サイトについて</h3>
  <p>インターネットの基礎から、プログラムの書き方までを紹介していくサイトです。</p>
  <p>何も知らない人でもわかるように書いていくつもりです。</p>
  <p>デザイナーではありませんので、デザインは素人に毛が生えた程度です。</p>
  <h3 class="midashi01">プロフィール</h3>
  <ul>
    <li>年齢：30代後半</li>
    <li>プログラム歴：15年（現役）</li>
    <li>得意言語：html,css,javascript,<br>
      .C#.net(WindowsApplication,Web),<br>
      ruby on rails,PL/Sql,TransactSql</li>
    <li>趣味：F1観戦、ゲーム、パチスロ</li>
    <li>好きなこと：Webアプリの作成</li>
    <li>嫌いなこと：無駄な時間を使うこと</li>
    <li>苦手なこと：球技全般</li>
  </ul>
</div>
