<div>
  <h3 class="midashi01">当サイトについて</h3>
  <ul>
    <li>インターネットの基礎から、プログラムの書き方までを紹介していくサイトです。</li>
    <li>何も知らない人でもわかるように書いていくつもりです。</li>
    <li>デザイナーではありませんので、デザインは素人に毛が生えた程度です。</li>
  </ul>
  <h3 class="midashi01">プロフィール</h3>
  <ul>
    <li>年齢：30代</li>
    <li>プログラム歴：15年</li>
    <li>得意言語：html,css,javascript,<br>
      .C#.net(WindowsApplication,Web),<br>
      ruby on rails,PL/Sql,TransactSql</li>
    <li>趣味：F1観戦、ゲーム、パチスロ、たまにテニス</li>
    <li>好きなこと：Webアプリの作成</li>
    <li>苦手なこと：球技全般</li>
  </ul>
</div>
