<div>
  <h2 class="midashi01"><i class="fa fa-external-link" aria-hidden="true"></i>相互リンク</h2>
  <br>
  <div class="panel panel-default" style="border-radius: 0">
    <div class="list-group" >
      <ul style="padding:0;margin:0">
        <a href="https://freesoft-100.com" class="list-group-item" style="padding:3px;">
          <img src="https://freesoft-100.com/img/banner/freesoft-logo-20130217.png" width="267" height="35" alt="フリーソフト100" title="フリーソフト100">
          <br>
          無料で使える便利なソフトや無料情報を集めているウェブサイトです。当サイト作りの参考にさせていただいています。
        </a>
      </ul>
    </div>
  </div>
</div>
