<%= render "/articles/article_header" %>
<p>
  前回までの記事で、コントローラー、VIEW、モデルそれぞれのファイルが作成し終わって、
  画面も真っ白ですが、URLから任意のページへ飛ばすことができるようになりました。
  さらにテストデータも既に登録済みです。
  今回から、画面の作成に入っていきます。
  最初に一覧画面を作成します。タスク管理アプリで一番内容が濃い画面ですが、
  ここから作っていかない
</p>
