<%= render "/articles/article_header" %>
<p>
  <strong>「application.html.erb」ファイルは全ページで共通して使うHTMLファイル</strong>です。
  タスク管理アプリは、ヘッダーとフッターしか共通部分はありません。
  難しい場合は<strong>&lt;%= yield %&gt;</strong>の使い方だけ覚えておけばOKです。
  各タグの説明も簡単に説明していますので、余裕のある人は読んでみて下さい。
</p>

<br>
<h2 class="midashi01">application.html.erbの編集</h2>

<p>
  <strong>railsではcssやjsの読み込みはどのページでも全css、全jsを読み込む方式</strong>がとられていますので、
  css、jsの読み込みもここに記載します。
  「/app/views/layouts/application.html.erb」の中身を以下のソースですべて置き換えて下さい。
  下で1行ずつ説明します。
</p>

<span class="prettyprint-filename">/app/views/layouts/application.html.erb</span>
<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;title&gt;タスク管理 サンプル (Ruby on Rails)&lt;/title&gt;
  &lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8" /&gt;
  &lt;meta charset="utf-8" /&gt;
  &lt;meta name="viewport" content="width=device-width,initial-scale=1"&gt;
  &lt;%= csrf_meta_tags %&gt;
  &lt;link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"&gt;
  &lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"&gt;
  &lt;%= stylesheet_link_tag    'application', media: 'all' %&gt;
  &lt;script src="https://code.jquery.com/jquery-3.2.1.js"&gt;&lt;/script&gt;
  &lt;script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"&gt;&lt;/script&gt;
  &lt;%= javascript_include_tag 'application' %&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;header id="header" style="background-color: #333;color:#fff"&gt;
  &lt;div class="container"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-xs-12"&gt;
        &lt;h1 id="title"&gt;
          タスク管理 サンプル (Ruby on Rails)
        &lt;/h1&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;
&lt;main id="main"&gt;
  &lt;div class="container"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-xs-12"&gt;
        &lt;%= yield %&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/main&gt;
&lt;footer id="footer"&gt;
  &lt;div class="container"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-xs-12"&gt;
        &lt;div style="padding-top:10px;text-align: center;border-top: 1px #999999 solid;"&gt;
          &lt;p&gt;フッター&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/footer&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<p>
  HTMLは大きく分けてheadタグとbodyタグに分かれています。headタグ（3行目〜15行目）ではcss、jsの読み込みなどを行います。
  bodyタグ（16行目以降）は表示される内容が記載されます。
</p>

<br>
<h2 class="midashi01">headタグ</h2>

<h3 class="midashi03"><span>titleタグ</span></h3>
<p>
  4行目はtitleタグです。これはブラウザのタブに記載される文字列です。
</p>

<h3 class="midashi03"><span>metaタグ</span></h3>
<p>
  5行目〜8行目はmetaタグと呼ばれる、ページの各種付加情報を定義するタグです。
  7行目の&lt;meta name="viewport" content="width=device-width,initial-scale=1"&gt;は、
  レスポンシブデザインにするために書いている1行です。
</p>
<p>
  8行目の&lt;csrf_meta_tags&gt;はrailsがデフォルトで設定してくれる脆弱性対策です。今回は内容を覚える必要はありません。
  これはrubyのコードでerbからHTMLへ変換されるときに、metaタグに変換されます。
</p>

<h3 class="midashi03"><span>linkタグ</span></h3>
<p>
  9行目〜11行目はlinkタグと呼ばれる、主にcssファイルをリンク（ダウンロード）するタグです。
</p>
<p>
  9行目〜10行目はcdnでcssファイル（jquery-uiとbootstrap）を、ダウンロードしています。
</p>
<p>
  11行目はrailsプロジェクトにある、application.cssファイルをダウンロードしています。
  これもrubyのコードでerbからHTMLへ変換されるときに、application.cssが参照している全てのcssがlinkタグに変換されます。
</p>

<h3 class="midashi03"><span>scriptタグ</span></h3>
<p>
  12行目〜14行目はscriptタグと呼ばれる、主にjavascriptを読み込む（ダウンロード）するタグです。
</p>
<p>
  12行目〜13行目はcdnでjsファイル（jqueryとjquery-ui）を、ダウンロードしています。
</p>
<p>
  14行目はrailsプロジェクトにある、application.jsファイルをダウンロードしています。
  これもrubyのコードでerbからHTMLへ変換されるときに、application.jsが参照している全てのjsがscriptタグに変換されます。
</p>

<h3 class="midashi02">cdnとは</h3>
インターネットのどこかに置いてある「ダウンロードさせるためのサーバー」からcssやjsなどをダウンロードすることです。
CDNを利用すると、近くのキャッシュサーバーからダウンロードすることができるので、ダウンロードが高速になります。
<p>

<br>
<h2 class="midashi01">bodyタグ</h2>

<h3 class="midashi03"><span>headerタグ</span></h3>
<p>
  17行目〜27行目は画面のヘッダー部分です。
  タスク管理アプリでは、ヘッダーは「タスク管理 サンプル (Ruby on Rails)」と全ての画面で統一しています。
</p>

<h3 class="midashi03"><span>mainタグ</span></h3>
<p>
  18行目〜36行目のmainタグは、ページのメインコンテンツを表現するときに使います。
</p>
<p>
  <strong>32行目の&lt;%= yield %&gt;が非常に重要で、
  ここにそれぞれの画面（index.html.erbやnew.html.erb）のHTMLが入ります。</strong>
</p>

<h3 class="midashi03"><span>footerタグ</span></h3>
<p>
  37行目〜47行目は画面のフッター部分です。
  タスク管理アプリでは、フッターは「フッター」と全ての画面で統一しています。
</p>

<h3 class="midashi03"><span>その他のタグ</span></h3>
<p>
  18行目〜20行目などの&lt;div class="container"&gt;、&lt;div class="row"&gt;、&lt;div class="col-xs-12"&gt;
  の部分はbootstrapでレイアウトするときの書き方です。これは「style="width:100%"」としているのとだいたい同じで、
  今は覚える必要はありません。
</p>

<h3 class="midashi02">bootstrapとは</h3>
<p>
BootstrapはTwitter社が開発したCSSのフレームワークです。
よく使われるスタイルがあらかじめ定義してあるので、
ルールに沿って利用するだけで整ったデザインのページを作成できます。
特にグリッドシステムと呼ばれる画面を12分割してレイアウトする手法では、
初心者でも簡単にレイアウトすることができます。
</p>

<br>
<h2 class="midashi01">動作確認</h2>

<p>
  動作確認をします。以前と同じように、「rails s」でサーバーを起動して、「localhost:3000」にアクセスします。
  以下のようなヘッダとフッターだけの画面が表示されればOKです。
</p>

<div class="box01">
  <a href="https://www.images.program777.com/201710/20171015_1.jpg" data-lightbox="20171015_1">
    <img src="https://www.images.program777.com/201710/20171015_1.jpg" style="width:100%">
  </a>
</div>

<%= render "/articles/article_footer" %>

