<%= render "/articles/article_header" %>
<p>
  前回は一覧画面の表示とページングが出来るようになりました。
  今回は各ボタンの実装をします。
</p>

！！！！！記事は未完成です。！！！！！

<br>
<h2 class="midashi01">①tasks_controller.rb編集</h2>

<span class="prettyprint-filename">/app/controllers/tasks_controller.rb</span>
<pre class="prettyprint linenums">
  #一覧画面 削除ボタン押下時のアクション
  def destroy

    #idでタスクテーブルを取得
    @task = Task.find(params[:id])

    #削除処理（delete文発行）
    @task.destroy

    #フラッシュ（一度きりのセッション）にメッセージを格納
    flash[:msg] = "削除しました。"

    #呼び出し元URLへリダイレクト
    redirect_to request.referer

  end

  #一覧画面 完了ボタン押下時のアクション
  def kanryo

    #idでタスクテーブルを取得
    @task = Task.find(params[:id])

    #kanryoにtrueをセット
    @task.kanryo = true

    #更新処理（update文発行）
    @task.save

    #呼び出し元URLへリダイレクト
    redirect_to request.referer

  end
</pre>

<br>
<h2 class="midashi01">②index.html.erb</h2>

<span class="prettyprint-filename">/app/views/tasks/index.html.erb</span>
<pre class="prettyprint linenums">
&lt;h2&gt;一覧画面&lt;/h2&gt;
&lt;!-- 一覧画面の作成②で追加 ここから --&gt;
&lt;%= link_to "全て表示", tasks_path %&gt;
&lt;%= link_to "完了のみ", tasks_path + "?kanryo=true", style:"margin-left:5px;" %&gt;
&lt;%= link_to "未完了のみ", tasks_path + "?kanryo=false", style:"margin-left:5px;" %&gt;
&lt;%= link_to "タスクを登録", new_task_path, class:"pull-right" %&gt;
&lt;!-- 一覧画面の作成②で追加 ここまで --&gt;
&lt;table class="table table-bordered"&gt;
  &lt;thead&gt;
  &lt;tr&gt;
    &lt;th class="grid-th-width1 pc-only"&gt;No&lt;/th&gt;
    &lt;th class="grid-th-width2"&gt;タスク&lt;/th&gt;
    &lt;th class="grid-th-width3"&gt;期限&lt;/th&gt;
    &lt;th class="grid-th-width4"&gt;ｽﾃｰﾀｽ&lt;/th&gt;
    &lt;th class="grid-th-width5"&gt;編集&lt;/th&gt;
  &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
  &lt;% @tasks.each do |task| %&gt;
      &lt;tr style="height:48px;"&gt;
        &lt;td class="pc-only"&gt;&lt;%= @grid_no.to_s %&gt;&lt;/td&gt;
        &lt;td style="vertical-align: middle"&gt;&lt;%= task.name %&gt;&lt;/td&gt;
        &lt;td style="vertical-align: middle"&gt;&lt;%= kigen_format(task.kigen) %&gt;&lt;/td&gt;
        &lt;td style="vertical-align: middle"&gt;&lt;%= kanryo_tag(task) %&gt;&lt;/td&gt;
        &lt;td class="henshu-cell"&gt;
&lt;!-- 一覧画面の作成②で追加 ここから --&gt;
          &lt;%= link_to "照会", task_path(task) %&gt;
          &lt;%= link_to "編集", edit_task_path(task) %&gt;
          &lt;%= link_to "削除", task_path(task), method:"delete" %&gt;
&lt;!-- 一覧画面の作成②で追加 ここまで --&gt;
        &lt;/td&gt;
      &lt;/tr&gt;
      &lt;% @grid_no = @grid_no + 1 %&gt;
  &lt;% end %&gt;
  &lt;tbody&gt;
  &lt;/table&gt;
&lt;div style="text-align: center"&gt;
  &lt;%= will_paginate @tasks,
                    renderer: BootstrapPagination::Rails,
                    previous_label: "前へ",
                    next_label: "次へ",
                    inner_window: 1,
                    outer_window: 0,
                    class:"pagination-sm"
  %&gt;
&lt;/div&gt;
</pre>

<br>
<h2 class="midashi01">application.html.erb</h2>

<span class="prettyprint-filename">/app/views/layouts/application.html.erb</span>
<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;title&gt;タスク管理 サンプル (Ruby on Rails)&lt;/title&gt;
  &lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8" /&gt;
  &lt;meta charset="utf-8" /&gt;
  &lt;meta name="viewport" content="width=device-width,initial-scale=1"&gt;
  &lt;%= csrf_meta_tags %&gt;
  &lt;link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"&gt;
  &lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"&gt;
  &lt;%= stylesheet_link_tag    'application', media: 'all' %&gt;
  &lt;script src="https://code.jquery.com/jquery-3.2.1.js"&gt;&lt;/script&gt;
  &lt;script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"&gt;&lt;/script&gt;
  &lt;%= javascript_include_tag 'application' %&gt;
&lt;!-- 一覧画面の作成②で追加 ここから --&gt;
  &lt;style type="text/css"&gt;
    .waku{
      padding:20px;
      margin-bottom:20px;
      border-radius:4px;
      border:2px solid #ddd;
    }
    @media (max-width: 768px) {
      h1#title{
        font-size:16pt;
      }
      a {
        -webkit-tap-highlight-color: rgba(16, 16, 16, 0.3);
      }
      .pc-only{
        display:none;
      }
      .grid-th-width1{
        width:0%;
      }
      .grid-th-width2{
        width:50%;
      }
      .grid-th-width3{
        width:15%;
      }
      .grid-th-width4{
        width:20%;
      }
      .grid-th-width5{
        width:15%;
      }
      .henshu-cell a{
        display:block;
        text-align:center;
      }
    }
    @media (min-width: 769px) {
      h1#title{
        font-size:24pt;
      }
      .grid-th-width1{
        width:10%;
      }
      .grid-th-width2{
        width:55%;
      }
      .grid-th-width3{
        width:10%;
      }
      .grid-th-width4{
        width:10%;
      }
      .grid-th-width5{
        width:15%;
      }
      .henshu-cell a{
        margin-right:10px;
      }
    }
  &lt;/style&gt;
&lt;!-- 一覧画面の作成②で追加 ここまで --&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;header id="header" style="background-color: #333;color:#fff"&gt;
  &lt;div class="container"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-xs-12"&gt;
        &lt;h1 id="title"&gt;
          タスク管理 サンプル (Ruby on Rails)
        &lt;/h1&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;
&lt;main id="main"&gt;
  &lt;div class="container"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-xs-12"&gt;
&lt;!-- 一覧画面の作成②で追加 ここから --&gt;
        &lt;% if flash[:msg].present? %&gt;
          &lt;div class="alert alert-info" style="margin-top:20px;border-width:3px;display:none"&gt;
            &lt;ul&gt;
              &lt;li&gt;&lt;%= flash[:msg] %&gt;&lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;
        &lt;% end %&gt;
&lt;!-- 一覧画面の作成②で追加 ここまで --&gt;
        &lt;%= yield %&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/main&gt;
&lt;footer id="footer"&gt;
  &lt;div class="container"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-xs-12"&gt;
        &lt;div style="padding-top:10px;text-align: center;border-top: 1px #999999 solid;"&gt;
          &lt;p&gt;フッター&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/footer&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<%= render "/articles/article_footer" %>
