<%= render "/articles/article_header" %>
<p>
  Ruby on Railsのスタート教材になれるよう、説明していきます。
  webアプリ初心者でも作成できるように、html、javascript、cssは重視せず、
  webの基本的な知識からRuby on Railsの作りを覚えられることを目的としています。
  プログラムの作り方の流れを覚えられるよう、仕様の確認、簡単な設計の説明もしていきます。
</p>

<br>
<h2 class="midashi01">環境構築</h2>
<p>
  勉強用の基本的なアプリですので、<strong>OS、ruby、railsのバージョンはあまり関係ありません</strong>が、
  rails4からの機能を使用するので、コピペで作成したいのであれば、<strong>ruby＝2以上、rails＝4以上がオススメです。</strong><br><br>
  私の環境は以下の通りです。
</p>
<ul>
  <li>OS＝mac</li>
  <li>エディタ＝RubyMine</li>
  <li>ruby＝2.3.1p112</li>
  <li>rails＝5.0.2</li>
</ul>
<p>
環境構築の説明は長くなってしまうので、ここでは行いませんが、
<strong>最初のrails newコマンドが成功すれば環境はOKです。</strong>
</p>

<br>
<h2 class="midashi01">使用する技術</h2>
<ul>
  <li>html5</li>
  <li>css（cssファイルは使用しません）</li>
  <li>javascript（jsファイルは使用しません。少しだけ使用します）</li>
  <li>jquery（少しだけ使用します）</li>
  <li>Ruby on Rails</li>
  <li>bootstrap（cssのみ）</li>
  <li>sqlite3</li>
</ul>

<br>
<h2 class="midashi01">作成するWebアプリのサンプル</h2>
<p>
  別windowで開きます。（登録とかもできます。）<br>
  <a style="text-decoration: underline" target="_blank" href="/samples/task_kanri/tasks">タスク管理 サンプル (Ruby on Rails)</a><br>
  これと同じものを作成します。<br><br>
  ※このサイト「program777」自体がrailsで作成されており、
  その中にサンプルを作っているため、ソースは若干違いますが、動きは全く同じものを作ります。
</p>