<h1><%= @page_title %></h1>

<p>
  最初に作成するアプリの仕様の確認を行います。<br>
  基本的な内容ですので、今回がシステム作りが初めてという方以外は読み飛ばしてもいいかもしれません。<br>
  画面は4つです。画面ごとに細かく記載していますが、画像からだいたい理解できると思います。<br>
  実際はこれを全て頭に入れた状態でアプリの作成を行います。そうすることで効率よくプログラミングができます。<br><br>
  <strong>どんなに大きなシステムでも、仕様は作りながら考える（決めてもらう）のではなく、
  頭でシステムの完成形までをイメージしてから作業に取り掛かります。</strong>
  ここでは、既に出来上がっている<a style="text-decoration: underline" target="_blank" href="/samples/task_kanri/tasks">サンプル</a>がありますので、これと全く同じになるように作成していきます。<br>
</p>

<h2 class="midashi01">アプリ全体の概要、仕様</h2>
<ul>
  <li><p>タスクをリストで参照できる</p></li>
  <li><p>個々のタスクの登録、編集、削除、照会ができる</p></li>
  <li><p>レスポンシブデザインである</p></li>
</ul>

<h2 class="midashi01">テーブル定義（データとして何を持つか）</h2>
<ul>
  <li><p>タスクテーブル</p>
    <ul>
      <li><p>ID（数値型）…主キー</p></li>
      <li><p>タイトル（文字列型）</p></li>
      <li><p>詳細（文字列型）</p></li>
      <li><p>期限（日付型）</p></li>
      <li><p>ステータス（ブール型）</p></li>
    </ul>
  </li>
</ul>
<h2 class="midashi01">一覧画面の仕様</h2>
<div class="box">
  <a href="https://www.images.program777.com/201709/20170927_1.jpg" data-lightbox="20170927_1">
    <img src="https://www.images.program777.com/201709/20170927_1.jpg" style="width:100%">
  </a>
</div>
<ul>
  <li><p>①タスクを登録リンク、②全て表示リンク、③完了のみリンク、④未完了のみリンクがある</p></li>
  <li><p>①タスクを登録リンク押下時は登録画面へ遷移する</p></li>
  <li><p>②全て表示リンク押下時は全てのレコードをグリッドに表示する</p></li>
  <li><p>③完了のみリンク押下時はステータスが完了のみのレコードをグリッドに表示する</p></li>
  <li><p>④未完了のみリンク押下時はステータスが未完了のみのレコードをグリッドに表示する</p></li>
  <li><p>グリッド関連</p>
    <ul>
      <li><p>グリッドの並びはステータス降順、期間昇順である</p></li>
      <li><p>グリッドにNo、タスク、期限、ステータスを表示する</p></li>
      <li><p>グリッドには⑤完了ボタン、⑥照会リンク、⑦編集リンク、⑧削除リンクを表示する</p></li>
      <li><p>⑤完了ボタン押下時は選択行のステータスを完了にする</p></li>
      <li><p>⑥照会リンク押下時は選択行の照会画面へ遷移する</p></li>
      <li><p>⑦編集リンク押下時は選択行の編集画面へ遷移する</p></li>
      <li><p>⑧削除リンク押下時は選択行のレコードを物理削除する</p></li>
      <li><p>ページング機能がある</p></li>
      <li><p>ページングの単位は5レコードとする</p></li>
    </ul>
  </li>
</ul>

<h2 class="midashi01">登録画面の仕様</h2>
<div class="box">
  <a href="https://www.images.program777.com/201709/20170927_2.jpg" data-lightbox="20170927_2">
    <img src="https://www.images.program777.com/201709/20170927_2.jpg" style="width:100%">
  </a>
</div>
<ul>
  <li><p>タスク、詳細、期限を登録できる</p></li>
  <li><p>期限はカレンダーが表示され、手入力もできる</p></li>
  <li><p>①登録ボタン、②キャンセルボタンがある</p></li>
  <li><p>①登録ボタン押下時はエラーをチェックし、エラーの場合は内容を表示する</p></li>
  <li><p>①登録ボタン押下時にエラーがない場合、DBに登録して一覧画面へ遷移する</p></li>
  <li><p>②キャンセルボタン押下時は一覧画面へ遷移する</p></li>
  <li><p>エラーチェック関連</p>
    <ul>
      <li><p>タスクは必須である</p></li>
      <li><p>タスクはMAX20文字までとする</p></li>
      <li><p>詳細はMAX100文字までとする</p></li>
      <li><p>期限はYYYYMMDD型のみの入力とする</p></li>
    </ul>
  </li>
</ul>

<h2 class="midashi01">編集画面の仕様</h2>
<div class="box">
  <a href="https://www.images.program777.com/201709/20170927_3.jpg" data-lightbox="20170927_3">
    <img src="https://www.images.program777.com/201709/20170927_3.jpg" style="width:100%">
  </a>
</div>
<ul>
  <li><p>一覧画面のグリッドの選択行のデータを表示する</p></li>
  <li><p>タスク、詳細、期限を編集できる</p></li>
  <li><p>期限はカレンダーが表示され、手入力もできる</p></li>
  <li><p>①編集ボタン、②キャンセルボタンがある</p></li>
  <li><p>①編集ボタン押下時はエラーをチェックし、エラーの場合は内容を表示する</p></li>
  <li><p>①編集ボタン押下時にエラーがない場合、DBを更新して一覧画面へ遷移する</p></li>
  <li><p>②キャンセルボタン押下時は一覧画面へ遷移する</p></li>
  <li><p>エラーチェック関連</p>
    <ul>
      <li><p>タスクは必須である</p></li>
      <li><p>タスクはMAX20文字までとする</p></li>
      <li><p>詳細はMAX100文字までとする</p></li>
      <li><p>期限はYYYYMMDD型のみの入力とする</p></li>
    </ul>
  </li>
</ul>

<h2 class="midashi01">照会画面の仕様</h2>
<div class="box">
  <a href="https://www.images.program777.com/201709/20170927_4.jpg" data-lightbox="20170927_4">
    <img src="https://www.images.program777.com/201709/20170927_4.jpg" style="width:100%">
  </a>
</div>
<ul>
  <li><p>一覧画面のグリッドの選択行のデータを表示する</p></li>
  <li><p>①キャンセルボタンがある</p></li>
  <li><p>①キャンセルボタン押下時は一覧画面へ遷移する</p></li>
</ul>