<div class="panel panel-default" style="border-radius: 0">
  <div class="panel-heading" style="padding-left:10px;padding-bottom:8px;">
    <i class="fa fa-star-o" aria-hidden="true" style="font-size:16pt;"></i>
    <h2 style="display:inline;font-size: 16pt;"> 記事一覧</h2>
  </div>
  <div class="list-group" >
    <ul style="padding:0;margin:0">
      <a href="/" class="list-group-item" style="padding:3px;">
        <li style="display:inline-block;margin:8px">
          トップページ
        </li>
      </a>
      <% Const::TK_YMD.each_with_index do |ymd, index| %>
        <% sidemenu_href = "/articles/" + Const::TK_YMD[index][0..5] + "/" + Const::TK_YMD[index] %>
        <% sidemenu_text = (index+1).to_s + ". " + Const::TK_TITLE2[index] %>
        <% if Const::TK_YMD[index] != "99999999" %>
          <a href=<%= sidemenu_href %> class="list-group-item" style="padding:3px;">
            <li style="display:inline-block;margin:8px">
              <%= sidemenu_text %>
            </li>
          </a>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- program777① -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3620320656141722"
     data-ad-slot="2504026728"
     data-ad-format="auto"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>